<!--The content below is only a placeholder and can be replaced.-->
<h1>WELCOME TO INTERNET FORUM</h1>

<div *ngIf="showInput" >
    POST TITLE:<input [(ngModel)]='labelThing' (keydown)="keyDownFunction($event)"/>
  
    <br />
    POST BODY:<input  [(ngModel)]='inputThing'(keydown)="keyDownFunction($event)"/>

    <br /><br />
    <button (click)='addItem()'>POST!</button>or press enter...
    <br /><br />
    <button (click)='cancel()'>cancel</button>

</div>
  
  <button *ngIf="!showInput" (click)='newPost()'>New Post</button>


  <ul *ngFor='let x of listThings.slice().reverse(); let i = index'>
    <li>
      <div [ngStyle]="setMyStyle(i)">
        <div>
        <h2>TITLE:</h2>
        <h3>{{x.postTitle}}</h3>
        </div>

        <hr>

        <div>
        <h2>POST:</h2>
        <h3>{{x.postBody}}</h3>
        </div>

        <hr>

        <p>@ {{x.currentTime}}</p>
        <p (click)="voting(i)"><i>This post makes me feel  {{x.vote}}  (click)</i></p>
      </div>
    </li>
  </ul>
  




<router-outlet></router-outlet>
